* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    min-width: 300px;
}

:root {
    --main: #141922;
    --footer: #282828;
    --detail: #8aca2c;
    --grey: #c1c1c1;
    --light: #ffffff;
    --dark: #000000;
    --darkgrey: #4d5157;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Utilities */

.d_flex {
    display: flex;
}

.dir_col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.just_center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    width: 94%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.width_90 {
    width: 100%;
    margin: auto;
}

#padding_green_line {
    position: relative;
}

#padding_green_line::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 1.5rem;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: var(--detail);
}

.circle {
    border-radius: 50%;
}

.col_1 {
    width: calc(100% / 12 * 1);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: 50%;
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: 100%;
}

.hover_circle,
.hover {
    position: relative;
    width: fit-content;
}

.hover_circle:hover::before,
.hover:hover::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hover_circle:hover::before {
    border-radius: 50%;
}

.hover_circle:hover::after,
.hover:hover::after {
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-size: 50px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Common */
/* Mobile First */
.top {
    height: calc(100vh - 80px);
}

footer.bottom {
    height: 80px;
    background-color: var(--footer);
}

.top>.sidebar {
    width: 40px;
    overflow: hidden;
    background-color: var(--dark);
}

.top>.content {
    width: calc(100% - 40px);
    overflow-y: auto;
    background-color: var(--main);
}

.top .sidebar_top {
    height: calc(100% - 120px);
}

.top .sidebar_bottom {
    height: 120px;
    background-color: var(--dark);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px -4px 2px -2px rgba(86, 86, 86, 0.794);;
    position: sticky;
    z-index: 2;
}

.transparent {
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
    justify-content: flex-end;
}

hr,
.sidebar .logo,
.sidebar i,
.sidebar span {
    display: none;
}

.sidebar img {
    margin: 5px 0;
}

.container_side {
    width: 70%;
    margin: auto;
}

.upgrade {
    color: var(--grey);
    margin-right: 10px;
    border: 1px solid var(--grey);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
    font-weight: 800;
}

.upgrade:hover {
    color: white;
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 0 0 1px #fff, 0 0 10px var(--light);

}

.nav_main {
    margin: 1rem;
    display: flex;
    justify-content: center;
    font-weight: 600;
    gap: 15px;
}

.nav_main a {
    color: var(--grey);
}

.row h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: var(--light);
}

h2 {
    font-size: 1.8rem;
    color: var(--light);
    margin: 3rem 0 1rem 0;
}

section p {
    color: var(--darkgrey);
    font-size: 0.7rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.row {
    text-align: center;
}

.row [class^="col_"] {
    padding-right: 1rem;
    margin-top: 1rem;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.bot_left {
    width: 120px;
}

.bot_center {

    width: calc(100% / 3);
}

.bot_right {
    width: 120px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.left img {
    max-width: 50%;
    max-height: 50%;
    padding: 8px;
}

.left p {
    font-size: 10px;
    font-weight: bold;
}

.left p:first-of-type {
    color: var(--light);
}

.left p:last-of-type {
    color: var(--darkgrey);
}

.right {
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    color: var(--darkgrey);
    font-size: 14px;
}

#big {
    font-size: 30px;
}

.bot_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    max-width: 30%;
    height: 100%;

}

.center_top {
    color: white;
    display: flex;
    width: 100%;
    max-width: 144px;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

.center_bottom {
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.bot_right {
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 120px;
}
.bar_insider,
.bar_container_right,
.bar_container {
    height: 8px;
    border-radius: 4rem;
}

.bar_container{
    width: 80%;
    background-color: var(--darkgrey);
}

.bar_container_right {
    width: 50%;
    background-color: var(--darkgrey);
}

.bar_insider {
    position: relative;
    width: 30%;
    background-color: var(--grey);
}

.bar_container:hover .bar_insider::after,
.bar_container_right:hover .bar_insider::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--grey);
}

.bar_container:hover .bar_insider,
.bar_container_right:hover .bar_insider {
  background-color: var(--detail);
}


/* Responsive */
@media screen and (min-width: 481px) {
    .top {
        height: calc(100vh - 90px);
    }
    .center_top {
        
        width: 100%;
       
        min-width: 144px;
        
    }
    .left {
        justify-content: space-evenly;
    }

    footer.bottom {
        height: 90px;
    }
    .bot_right,
    .bot_left {
        display: flex;
        width: 80%;
        max-width: 200px;
        justify-content: space-evenly;
        align-items: center;
        align-self: center;
    }
    .top>.sidebar {
        width: 200px;
        overflow: hidden;
    }

    .top>.content {
        width: calc(100% - 200px);
        overflow-y: auto;
    }

    .container_side {
        width: 84%;
        margin: auto;
    }

    .logo {
        width: 60%;
        margin: 1rem 0;
    }

    .sidebar h3 {
        color: var(--light);
        margin-top: 1rem;
        margin-bottom: -1rem;
    }

    .sidebar_bottom span,
    .navigation span {
        margin-left: 10px;
        color: var(--darkgrey);
    }

    .profile .navigation,
    .download {
        display: flex;
        align-items: center;
    }

    .logo_small {
        display: none;
    }

    .profile a,
    .navigation a,
    .download a {
        display: flex;
        align-items: center;
    }

    .profile img,
    .download img,
    .navigation img {
        width: 1.5rem;
    }

    .sidebar .navigation ul {
        margin-top: 20px;
    }

    .sidebar .navigation ul li {
        padding: 10px 0;
    }

    .sidebar .navigation ul li a {
        color: var(--darkgrey);
        font-weight: bold;
    }

    .download span:hover,
    .navigation span:hover,
    .sidebar .navigation ul li a:hover,
    .sidebar .navigation ul li a:active {
        color: var(--light);
    }

    hr {
        margin: 0.5rem 0;
    }

    .profile span {
        color: white;
    }

    .sidebar i {
        font-size: 3rem;
    }

    hr,
    .sidebar .logo,
    .sidebar i,
    .sidebar span {
        display: block;
    }

    #transparent {
        height: 110px;
    }
}

@media screen and (min-width: 769px) {
    .top {
        height: calc(100vh - 90px);
    }
    .left {
        min-width: 140px;
        max-width: 175px;
    }
    footer.bottom {
        height: 90px;
    }

    .top>.sidebar {
        width: 230px;
        overflow: hidden;
    }

    .top>.content {
        width: calc(100% - 230px);
        overflow-y: auto;
    }

    #transparent {
        height: 130px;
    }

    .nav_main {
        margin: 2rem 0rem;
        font-weight: 600;
        gap: 15px;
    }

    .col_md_1 {
        width: calc(100% / 12 * 1);
    }

    .col_md_2 {
        width: calc(100% / 12 * 2);
    }

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }

    .col_md_4 {
        width: calc(100% / 12 * 4);
    }

    .col_md_5 {
        width: calc(100% / 12 * 5);
    }

    .col_md_6 {
        width: 50%;
    }

    .col_md_7 {
        width: calc(100% / 12 * 7);
    }

    .col_md_8 {
        width: calc(100% / 12 * 8);
    }

    .col_md_9 {
        width: calc(100% / 12 * 9);
    }

    .col_md_10 {
        width: calc(100% / 12 * 10);
    }

    .col_md_11 {
        width: calc(100% / 12 * 11);
    }

    .col_md_12 {
        width: 100%;
    }

    .center_top {
        width: 200px;
    }
}


@media screen and (min-width: 1281px) {
    .bot_right,
    .bot_left {
        display: flex;
        max-width: 250px;
        justify-content: space-evenly;
        align-items: center;
        align-self: center;
    }
    .left p {
        font-size: 14px;
    }
    .top {
        height: calc(100vh - 100px);
    }

    footer.bottom {
        height: 100px;
    }

    .top>.sidebar {
        width: 240px;
        overflow: hidden;
    }

    .top>.content {
        width: calc(100% - 240px);
        overflow-y: auto;
    }

    #transparent {
        height: 120px;
    }

    .nav_main {
        margin: 2rem 0rem;
        font-weight: 600;
        gap: 25px;
    }

    .width_90 {
        width: 70%;
    }

    .width_90 a:hover {
        color: var(--light);
    }

    .col_lg_1 {
        width: calc(100% / 12 * 1);
    }

    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }

    .col_lg_3 {
        width: calc(100% / 12 * 3);
    }

    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }

    .col_lg_5 {
        width: calc(100% / 12 * 5);
    }

    .col_lg_6 {
        width: 50%;
    }

    .col_lg_7 {
        width: calc(100% / 12 * 7);
    }

    .col_lg_8 {
        width: calc(100% / 12 * 8);
    }

    .col_lg_9 {
        width: calc(100% / 12 * 9);
    }

    .col_lg_10 {
        width: calc(100% / 12 * 10);
    }

    .col_lg_11 {
        width: calc(100% / 12 * 11);
    }

    .col_lg_12 {
        width: 100%;
    }
}

/* debug */
/* .debug .top {
    background-color: aquamarine
}

.debug footer {
    background-color: palegoldenrod;
}

.debug .sidebar {
    background-color: black;
}

.debug .content {
    background-color: palevioletred;
} */

/* .debug .sidebar_bottom {
    background-color: red;
} */